In [287]:
import numpy as np
import pandas as pd
from sklearn.metrics import roc_auc_score

In [288]:
data_train = pd.DataFrame()
data_val = pd.DataFrame()
data_test = pd.DataFrame()

In [332]:
data_train.head()

,M1,M2,M3,M15,M16_0,M16_1,M16_2,F1(0),F1(1),F2(0),F2(1),F3(0),F3(1),F4(0),F4(1),F7
0,0.003333,0.216762,0.0,0.064881,0.462098,0.372914,0.039674,4.280115,3.875519,33.312462,30.304176,129.877779,117.609750,254.249745,229.568007,16.0
1,0.008333,0.366722,0.0,0.331041,0.115525,0.490415,0.074309,4.158685,3.965166,33.122729,31.178792,130.978049,120.824808,258.480596,238.197288,13.0
2,0.013333,0.254434,0.0,0.094122,0.577623,0.426187,0.005319,3.918217,3.846917,30.225963,29.256037,116.251630,112.686115,227.974042,217.915372,11.0
3,0.990000,0.995158,1.0,0.977229,0.577623,0.332284,0.027609,4.124381,3.728030,31.438656,28.825212,121.076557,110.287027,237.255522,213.761863,14.0
4,0.000000,0.051227,0.0,0.027864,0.462098,0.190072,0.039339,3.875246,3.824761,29.711911,29.652378,116.009335,114.651652,228.629688,224.974367,11.0

In [333]:
data_val.head()

,M1,M2,M3,M15,M16_0,M16_1,M16_2,F1(0),F1(1),F2(0),F2(1),F3(0),F3(1),F4(0),F4(1),F7
0,0.008333,0.249174,0.0150,0.097933,0.693147,0.313191,0.032876,3.923753,4.058521,30.356671,30.468303,118.303202,117.530575,231.583961,228.131587,14.0
1,0.145000,0.339234,0.2625,0.440060,0.462098,0.645475,0.023946,4.273951,3.826510,32.686589,30.038282,126.723415,115.909931,247.789339,225.951660,14.0
2,0.000000,0.029469,0.0000,0.017857,0.693147,0.207320,0.054648,3.983597,3.972570,31.215360,31.287087,121.682361,121.746553,239.614234,237.988288,16.0
3,0.001667,0.043086,0.0025,0.016224,0.577623,0.026340,0.043624,3.835872,3.884567,30.135725,30.237361,117.527929,117.024696,230.670618,229.605362,13.0
4,0.245000,0.918097,0.3725,0.501144,0.693147,0.346574,0.051440,4.085931,3.959548,31.861668,30.212223,123.232340,114.956195,241.100065,222.261384,20.0

In [334]:
data_test.head()

,M1,M2,M3,M15,M16_0,M16_1,M16_2,F1(0),F1(1),F2(0),F2(1),F3(0),F3(1),F4(0),F4(1),F7
0,0.013333,0.051811,0.0050,0.029414,0.693147,0.105954,0.058108,3.948886,3.941858,31.178006,31.092404,121.028631,120.927375,238.023293,236.800943,16.0
1,0.020000,0.417538,0.0000,0.123231,0.462098,0.313191,0.039566,4.143586,3.910061,32.158102,31.048478,124.391205,120.097083,245.336480,235.299405,11.0
2,0.000000,0.039595,0.0000,0.014604,0.693147,0.055786,0.027127,3.781319,3.888326,29.893061,29.936050,116.229971,115.542080,227.651718,225.041950,14.0
3,0.198333,0.409323,0.1625,0.567970,0.462098,0.332284,0.065246,4.007637,3.903148,31.717493,31.030027,124.485337,121.299036,246.346738,237.443783,16.0
4,0.010000,0.060296,0.0075,0.019831,0.346574,0.190072,0.109047,4.102297,4.186046,32.392693,32.882923,127.586195,129.229023,252.863840,255.496935,16.0

In [292]:
m1_train = np.load('m1_train.npy')
m1_val = np.load('m1_val.npy')
m1_test = np.load('m1_pred.npy')

m1_train.shape, m1_val.shape, m1_test.shape

pd.DataFrame(m1_test).to_csv('RandomForest.csv')

In [293]:
data_train['M1'] = m1_train
data_val['M1'] = m1_val
data_test['M1'] = m1_test

In [297]:
m2_train = np.load('m2_train.npy')
m2_val = np.load('m2_val.npy')
m2_test = np.load('m2_pred.npy')

m2_train.shape, m2_val.shape, m2_test.shape

pd.DataFrame(m2_test).to_csv('LogReg.csv')

In [298]:
data_train['M2'] = m2_train
data_val['M2'] = m2_val
data_test['M2'] = m2_test

In [302]:
m3_train = np.load('m3_train.npy')
m3_val = np.load('m3_val.npy')
m3_test = np.load('m3_pred.npy')

m3_train.shape, m3_val.shape, m3_test.shape

pd.DataFrame(m3_test).to_csv('ExtraTrees.csv')

In [303]:
data_train['M3'] = m3_train
data_val['M3'] = m3_val
data_test['M3'] = m3_test

In [253]:
m4_train = np.load('m4_train.npy')
m4_val = np.load('m4_val.npy')
m4_test = np.load('m4_pred.npy')

m4_train.shape, m4_val.shape, m4_test.shape

pd.DataFrame(m4_test).to_csv('knn.csv')

In [53]:
data_train['M4'] = m4_train
data_val['M4'] = m4_val
data_test['M4'] = m4_test

In [57]:
m7_train = np.load('m7_train.npy')
m7_val = np.load('m7_val.npy')
m7_test = np.load('m7_pred.npy')

m7_train.shape, m7_val.shape, m7_test.shape

((7200,), (1800,), (3330,))

In [58]:
data_train['M7'] = m7_train
data_val['M7'] = m7_val
data_test['M7'] = m7_test

In [307]:
m15_train = np.load('m15_train.npy')
m15_val = np.load('m15_val.npy')
m15_test = np.load('m15_pred.npy')

m15_train.shape, m15_val.shape, m15_test.shape

((7200,), (1800,), (3330,))

In [308]:
data_train['M15'] = m15_train
data_val['M15'] = m15_val
data_test['M15'] = m15_test

In [312]:
m16_train = np.load('m16_train.npy')
m16_val = np.load('m16_val.npy')
m16_test = np.load('m16_pred.npy')

m16_train.shape, m16_val.shape, m16_test.shape

((7200, 3), (1800, 3), (3330, 3))

In [313]:
for i in range(3):
    data_train['M16_'+str(i)] = m16_train[:,i]
    data_val['M16_'+str(i)] = m16_val[:,i]
    data_test['M16_'+str(i)] = m16_test[:,i]

In [314]:
f1_0_train = np.load('F1_0_train.npy')
f1_0_val = np.load('F1_0_val.npy')
f1_0_test = np.load('F1_0_test.npy')

f1_0_train.shape, f1_0_val.shape, f1_0_test.shape

((7200,), (1800,), (3330,))

In [315]:
data_train['F1(0)'] = f1_0_train
data_val['F1(0)'] = f1_0_val
data_test['F1(0)'] = f1_0_test

In [316]:
f1_1_train = np.load('F1_1_train.npy')
f1_1_val = np.load('F1_1_val.npy')
f1_1_test = np.load('F1_1_test.npy')

f1_1_train.shape, f1_1_val.shape, f1_1_test.shape

((7200,), (1800,), (3330,))

In [317]:
data_train['F1(1)'] = f1_1_train
data_val['F1(1)'] = f1_1_val
data_test['F1(1)'] = f1_1_test

In [318]:
f2_0_train = np.load('F2_0_train.npy')
f2_0_val = np.load('F2_0_val.npy')
f2_0_test = np.load('F2_0_test.npy')

f2_0_train.shape, f2_0_val.shape, f2_0_test.shape

((7200,), (1800,), (3330,))

In [319]:
data_train['F2(0)'] = f2_0_train
data_val['F2(0)'] = f2_0_val
data_test['F2(0)'] = f2_0_test

In [320]:
f2_1_train = np.load('F2_1_train.npy')
f2_1_val = np.load('F2_1_val.npy')
f2_1_test = np.load('F2_1_test.npy')

f2_1_train.shape, f2_1_val.shape, f2_1_test.shape

((7200,), (1800,), (3330,))

In [321]:
data_train['F2(1)'] = f2_1_train
data_val['F2(1)'] = f2_1_val
data_test['F2(1)'] = f2_1_test

In [322]:
f3_0_train = np.load('F3_0_train.npy')
f3_0_val = np.load('F3_0_val.npy')
f3_0_test = np.load('F3_0_test.npy')

f3_0_train.shape, f3_0_val.shape, f3_0_test.shape

((7200,), (1800,), (3330,))

In [323]:
data_train['F3(0)'] = f3_0_train
data_val['F3(0)'] = f3_0_val
data_test['F3(0)'] = f3_0_test

In [324]:
f3_1_train = np.load('F3_1_train.npy')
f3_1_val = np.load('F3_1_val.npy')
f3_1_test = np.load('F3_1_test.npy')

f3_1_train.shape, f3_1_val.shape, f3_1_test.shape

((7200,), (1800,), (3330,))

In [325]:
data_train['F3(1)'] = f3_1_train
data_val['F3(1)'] = f3_1_val
data_test['F3(1)'] = f3_1_test

In [326]:
f4_0_train = np.load('F4_0_train.npy')
f4_0_val = np.load('F4_0_val.npy')
f4_0_test = np.load('F4_0_test.npy')

f4_0_train.shape, f4_0_val.shape, f4_0_test.shape

((7200,), (1800,), (3330,))

In [327]:
data_train['F4(0)'] = f4_0_train
data_val['F4(0)'] = f4_0_val
data_test['F4(0)'] = f4_0_test

In [328]:
f4_1_train = np.load('F4_1_train.npy')
f4_1_val = np.load('F4_1_val.npy')
f4_1_test = np.load('F4_1_test.npy')

f4_1_train.shape, f4_1_val.shape, f4_1_test.shape

((7200,), (1800,), (3330,))

In [329]:
data_train['F4(1)'] = f4_1_train
data_val['F4(1)'] = f4_1_val
data_test['F4(1)'] = f4_1_test

In [330]:
f7_train = np.load('f7_train.npy')
f7_val = np.load('f7_val.npy')
f7_test = np.load('f7_pred.npy')

f7_train.shape, f7_val.shape, f7_test.shape

((7200,), (1800,), (3330,))

In [331]:
data_train['F7'] = f7_train
data_val['F7'] = f7_val
data_test['F7'] = f7_test

In [335]:
y_train = np.load('y_train.npy',allow_pickle=True)
print("y_train.shape=",y_train.shape)
y_val = np.load('y_val.npy',allow_pickle=True)
print("y_val.shape=",y_val.shape)

y_train.shape= (7200,)
y_val.shape= (1800,)

In [336]:
data_train['Revenue'] = y_train
data_val['Revenue'] = y_val

In [337]:
x_train = data_train.drop('Revenue',axis=1)
y_train = data_train['Revenue']

x_train.shape, y_train.shape

((7200, 16), (7200,))

In [338]:
x_val = data_val.drop('Revenue',axis=1)
y_val = data_val['Revenue']

x_val.shape, y_val.shape

((1800, 16), (1800,))

In [339]:
x_test = data_test

x_test.shape

(3330, 16)

In [340]:
x_train, x_val, x_test = np.array(x_train), np.array(x_val), np.array(x_test)

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaler.fit(x_train)
x_train = scaler.transform(x_train)
x_val = scaler.transform(x_val)
x_test = scaler.transform(x_test)
x_val.shape, x_train.shape,x_test.shape

((1800, 16), (7200, 16), (3330, 16))

In [344]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(C=0.5,class_weight='balanced',random_state=0,max_iter=100000).fit(x_train, y_train)
yh_val = model.predict_proba(x_val)[:,1]
print(yh_val.shape)
print("AUC of LogisticRegression: ",roc_auc_score(y_val,yh_val))

(1800,)
AUC of LogisticRegression:  0.9304935662122521

In [345]:
yh_test = model.predict_proba(x_test)[:,1]
pd.DataFrame(yh_test).to_csv('Logistic2L.csv')

In [391]:
from keras.models import Sequential
from keras.layers import Dense
import tensorflow as tf

In [392]:
model = Sequential()
model.add(Dense(8, input_dim=16, activation='elu'))
# model.add(Dense(8, activation='elu'))
model.add(Dense(4, activation='elu'))
model.add(Dense(1, activation='sigmoid'))

In [393]:
model.compile(loss='binary_crossentropy', optimizer='adam')

In [394]:
model.fit(x_train, y_train, epochs=2, batch_size=24)

Epoch 1/2
7200/7200 [==============================] - 1s 202us/step - loss: 0.2874
Epoch 2/2
7200/7200 [==============================] - 1s 71us/step - loss: 0.0353

In [395]:
yh_val = model.predict(x_val)

In [396]:
yh_val

array([[0.0041312 ],
       [0.05574211],
       [0.00172117],
       ...,
       [0.36597705],
       [0.0054684 ],
       [0.00991079]], dtype=float32)

In [397]:
roc_auc_score(y_val,yh_val)

0.9129520769260717

In [398]:
ytest = model.predict(x_test)

In [399]:
pd.DataFrame(ytest).to_csv('nn_pred.csv')

In [278]:
val_pred = (data_val['M1']+data_val['M2']+data_val['M3']+data_val['M4'])/4.0

In [279]:
np.percentile(val_pred,[5,10,20,25,30,35,40,45,50,55])

array([0.00620473, 0.01202296, 0.02142971, 0.02750862, 0.0339715 ,
       0.04322808, 0.0552175 , 0.06572031, 0.08042351, 0.09663757])

In [280]:
val_pred[val_pred<np.percentile(val_pred,10)] = 0.0

In [281]:
roc_auc_score(y_val,val_pred)

0.9297126722375015

In [243]:
data_test['M15'].to_csv('M15_pred.csv')

/home/harsh/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

In [254]:
test_pred = (data_test['M1']+data_test['M2']+data_test['M3']+data_test['M4'])/4.0

In [255]:
pd.DataFrame(test_pred).to_csv('first4.csv')